[submodule "gtest"]
	path = modules/gtest
	url = https://github.com/google/googletest
[submodule "cmake-helpers"]
	path = modules/cmake-helpers
	url = https://github.com/bijn/cmake-helpers
[submodule "asio"]
	path = modules/asio
	url = https://github.com/chriskohlhoff/asio
[submodule "cli11"]
	path = modules/cli11
	url = https://github.com/CLIUtils/CLI11
